     body {
        font-family: Arial, sans-series;
        margin: 20px;
        background-color: white;
    }
    .container {
        border: 2px solid black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 40px;
        padding: 40px;
        margin: 20px;
    }
    .card {
    background-color: white;
    width: 220px;
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
    border: 2px solid #007bff;
}
.circle {
    background-color: #007bff;
    color: white;
    font-weight: bold;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto 15px;
    align-items: center;
}

.name {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}
.info {
    font-size: 17px;
    margin: 3px 0;
}
