.container{
    display: flex;
    height: 800px;
    width: 1000px;
    background-color: aqua;
    border: solid 2px black;
    flex-direction: row ;
    /* flex-wrap: wrap; */
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
   align-content: space-around;
  gap: 10px;
  column-gap: 10px;

}

.item{
    height: 100px;
    width: 200px;
    background-color: antiquewhite;
    border: 2px solid black;

     

}

.item2{
    order: -1;
    flex-grow: 1; 
    flex-shrink: 2;
    align-self: first baseline;

}