/* div{
    background-color: aliceblue;
    border: solid black 2px;
    height: 700px;
    width: 300px;
      margin: 500px 500px 500px 500px ;
}

h1{
       height: 100px;
       width: 100px;
       border-radius: 50%;
       padding: 30px 30px 30px 30px ;
       margin: 70px 70px 70px 70px ;
}

.a{
    background-color: red;
}
.b{
    background-color: yellow;
}

.c{
    background-color: green;
} */



/* Amazon test: */

*{
    padding: 0;
    margin: 0;
    color: aliceblue;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
}

button{
    background-color: #f08804;
}

#logo{
    color: #f08804;
    font-size: 20px;
}

a{
    margin-right: 200px;
}



