.ab{
    height: 100px;
    width: 100px;
    
}

#navbar{
    height: 60px;
    background-color: #0f1111;
}

button{
    background-color: #f08804;
}

#logo{
    color: #f08804;
    font-size: 20px;
}

a{
    margin-right: 200px;
}

*{
    padding: 0;
    margin: 0;
    color: aliceblue;
}

.ab{
    color: #0f1111;
    border: #0f1111 solid 2px;
    display: inline-block;
    height: 300px;
    width: 300px;
} 

.f{
    color: #0d8484;
    background-color: #0f1111;
    text-align: center;
}

#content{
    height: 700px;
    width: auto;
    text-align: center;
}
