* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    border: #111 solid 2px;
}
/* 
.ab{
      border: #111 solid 2px;
      padding: 20px;
      margin: 0%;
} */


.navbar {
    background: black;
    color: white;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}


.search-box {
    flex: 1;
    display: flex;
    margin: 0 20px;
}

.search-box input {
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-box button {
    padding: 8px 20px;
    border: none;
    background: aqua;
    color: white;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.nav-links li a:hover {
    color: aqua;
}


.menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

h1{
    margin-top: 20px;
    font-size: medium;
    color: orange;

}


@media (max-width: 768px) {

    .search-box {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .nav-links {
        position: absolute;
        right: -100%;
        top: 70px;
        width: 200px;
        background: #111;
        height: 100vh;
        flex-direction: column;
        padding-top: 20px;
        transition: 0.4s;
    }

    .nav-links.active {
        right: 0;
    }

    .nav-links li {
        padding: 10px 20px;
    }
}
