div{
    height: 200px;
    width: 200px;
    background-color: aqua;
    padding: 10px;
    border: 1px solid black;
    margin: 7px;
    display: inline-block;
}

#du{
    
    padding: 50px;
    border: 100px saddlebrown;
    background-color: rgb(0, 255, 55);
    margin: 50px;
}
#dc{
   border: 100px dashed wheat;
   background-color: blueviolet;
   margin: 100px;
}

#marvels{
    background-color: yellowgreen;
    padding: 80px;
    border: 40px dotted rgb(255, 0, 179);
}