div{
    border: solid black;
    font-size: 20px;
    word word-spacing: 6px;
    height: 320px;
    width: 1250px;
    margin: 100px;
}

.p{
    font-size: 25px;
    text-align: center;
    word-spacing: 7px;
    background-color: yellow;
    padding: 65px;
    height: 15px;
    border: solid 30px blue;
    margin: 20px 10px 10px 50px;

}