.b1{
    background-color: aqua;
    padding: 10px;
    margin: 7px;
    width: min-content;
    display: inline-block;
    clear: both;

}
.b2{
    background-color: rgb(94, 245, 94);
    padding: 10px;
    margin: 7px;
    width: min-content;
    display: inline-block;
    clear: both;
   
}
.p1{
    background-color: rgba(172, 169, 169, 0.978);
    padding: 30px;
    height: 70px 0px 0px 0px;
}
.red{
    color: red;
}
.H{
    border: 2px solid black;
    padding: 0px 5px 50px 5px;
    
}