.f1{
    color: rgb(0, 110, 255);
}
.f2{
    color: rgb(0, 110, 255);
}

.f3{
    color: rgb(0, 110, 255);
}

.t1{
    background-color: rgb(0, 157, 255);
}

div{
      text-align: right;
      
}

.div1{
    align-content: start;
}
.table{
    font-size:50px ;
}
